<h1 id="string">Strings</h1> 

Strings are ...
...

<pre>
code
		code
code
</pre>

that was some code. 

<pre>
code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code


code

			code

	code
</pre>
Strings strings


<h1 id="number">Numbers</h1>

numbers

<pre>
code

		code



		code
code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code


</pre>

numbers


<h1 id="float">Floats</h1>

floats

<pre>
code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code

code

		code



		code


	code
		code

code
code
</pre>

That was floats code. 
