// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Background image and opacity issues */
@import "bootstrap";
@import "bootstrap/theme";

$lightTan: #e8e5e4;
$tanText: #615f5b;
$tanBackground: #eeebe3;
$tanSidebar: #5e5e5e;
$activeText: #5e5e5e;


/* Over-ride for bootstrap link styles */

a {
	color: $tanText;
	&:visited {
		text-decoration: none;
	}
}

/* Over-ride for bootstrap responsive images */

.img-responsive {
  margin-left: auto;
  margin-right: auto; 
}

/* Sets Background image */

html body { 
  background: url('bg.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
//Adjusts to play nice with header
  padding-top: 50px; 
	text-align: center;
	position: relative;
	}
	@media (max-width: 979px) {
		body {
			padding-top: 30;
		}
}

/* Additional Styling for Header */

header {
	background-color: $lightTan;
	color: $tanText;
}

/* Main Content */

#center-notes {
	margin-top: 15px;
	padding: 15px; 
	background: $tanBackground;
	border-radius: 5px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}
