<div class="well well-sm">
	<button type="button" class="close" aria-hidden="true">&times;</button>
  <h4>Set your text-align preference!</h4>
	<div class="btn-group">
	  <button type="button" class="btn btn-default" id="left">Left</button>
  	<button type="button" class="btn btn-default" id="center">Center</button>
	  <button type="button" class="btn btn-default" id="right">	Right</button>
	</div>
</div>