<div class="col-md-3" id="sidebar">
	<div class="bs-sidebar hidden-print affix" role="complementary" style>
		<ul class="nav bs-sidenav" id="spyOnThis">
			<li><%= link_to "DataTypes", "#" %>
				<ul class="nav">
					<li class><%= link_to "Strings", "#string" %></li>
					<li class><%= link_to "Numbers", "#number" %></li>
					<li class><%= link_to "Floats", "#float" %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>